.contactus-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contactus-max-width {
  position: relative;
}
.contactus-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-image {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.contactus-navlink {
  text-decoration: none;
}
.contactus-text {
  color: var(--dl-color-scheme-orange100);
}
.contactus-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contactus-navlink1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contactus-navlink2 {
  text-decoration: none;
}
.contactus-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.contactus-text01 {
  left: 90px;
  bottom: -8px;
  position: absolute;
  font-size: 10px;
  line-height: 1.5;
}
.contactus-features {
  width: 1182px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.contactus-text03 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-separator {
  width: 100px;
  height: 2px;
  background-color: #595959;
}
.contactus-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-container02 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contactus-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contactus-icon02 {
  width: 24px;
  height: 24px;
}
.contactus-text05 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.contactus-text06 {
  color: #999999;
}
.contactus-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contactus-icon04 {
  width: 24px;
  height: 24px;
}
.contactus-text07 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.contactus-text08 {
  color: #999999;
}
.contactus-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contactus-icon06 {
  width: 24px;
  height: 24px;
}
.contactus-text09 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.contactus-text10 {
  color: #999999;
}
.contactus-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contactus-icon08 {
  width: 24px;
  height: 24px;
}
.contactus-text11 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.contactus-text12 {
  color: #999999;
}
.contactus-pasted-image {
  width: 478px;
  height: 388px;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius4);
  border-top-right-radius: var(--dl-radius-radius-radius4);
  border-bottom-left-radius: var(--dl-radius-radius-radius4);
  border-bottom-right-radius: var(--dl-radius-radius-radius4);
}
.contactus-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-image1 {
  width: 64px;
  height: 61px;
  object-fit: cover;
  margin-right: 14px;
}
.contactus-burger-menu1 {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.contactus-blog {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contactus-container03 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.contactus-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-blog-post-card:hover {
  transform: scale(1.02);
}
.contactus-pasted-image1 {
  width: 350px;
  height: 350px;
  border-radius: 29px;
}
.contactus-container04 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contactus-container05 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.contactus-text14 {
  color: #595959;
  font-weight: 600;
  text-transform: uppercase;
}
.contactus-text16 {
  color: #595959;
  font-weight: 300;
}
.contactus-text17 {
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-text18 {
  color: #595959;
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-container06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-profile {
  display: flex;
  align-items: center;
}
.contactus-text21 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.contactus-container07 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.contactus-blog-post-card1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-blog-post-card1:hover {
  transform: scale(1.02);
}
.contactus-pasted-image2 {
  width: 350px;
  height: 350px;
  border-radius: 29px;
}
.contactus-container08 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contactus-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.contactus-text24 {
  color: #595959;
  font-weight: 600;
  text-transform: uppercase;
}
.contactus-text27 {
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-text28 {
  color: #595959;
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-profile1 {
  display: flex;
  align-items: center;
}
.contactus-text31 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.contactus-blog-post-card2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-blog-post-card2:hover {
  transform: scale(1.02);
}
.contactus-pasted-image3 {
  width: 350px;
  height: 350px;
  border-radius: 29px;
}
.contactus-container11 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contactus-container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.contactus-text34 {
  color: #595959;
  font-weight: 600;
  text-transform: uppercase;
}
.contactus-text37 {
  color: #595959;
  font-weight: 300;
}
.contactus-text40 {
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-text41 {
  color: #595959;
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-profile2 {
  display: flex;
  align-items: center;
}
.contactus-text46 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.contactus-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contactus-blog-post-card3 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-blog-post-card3:hover {
  transform: scale(1.02);
}
.contactus-logo2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-image2 {
  width: 64px;
  height: 61px;
  object-fit: cover;
  margin-right: 14px;
}
.contactus-burger-menu2 {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.contactus-blog1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contactus-container15 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.contactus-blog-post-card4 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-blog-post-card4:hover {
  transform: scale(1.02);
}
.contactus-pasted-image4 {
  width: 350px;
  height: 350px;
  border-radius: 29px;
}
.contactus-container16 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contactus-container17 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.contactus-text50 {
  color: #595959;
  font-weight: 600;
  text-transform: uppercase;
}
.contactus-text51 {
  color: #595959;
  font-weight: 300;
}
.contactus-text54 {
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-text55 {
  color: #595959;
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-container18 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-profile3 {
  display: flex;
  align-items: center;
}
.contactus-text59 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.contactus-container19 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.contactus-blog-post-card5 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-blog-post-card5:hover {
  transform: scale(1.02);
}
.contactus-pasted-image5 {
  width: 350px;
  height: 350px;
  border-radius: 29px;
}
.contactus-container20 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contactus-container21 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.contactus-text63 {
  color: #595959;
  font-weight: 600;
  text-transform: uppercase;
}
.contactus-text64 {
  color: #595959;
  font-weight: 300;
}
.contactus-text65 {
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-text66 {
  color: #595959;
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.contactus-container22 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-profile4 {
  display: flex;
  align-items: center;
}
.contactus-text70 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.contactus-links-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.contactus-container23 {
  width: 605px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.contactus-text74 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contactus-text75 {
  margin-bottom: var(--dl-space-space-unit);
}
.contactus-text76 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contactus-text77 {
  margin-bottom: var(--dl-space-space-unit);
}
.contactus-text78 {
  margin-bottom: var(--dl-space-space-unit);
}
.contactus-text79 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contactus-text80 {
  margin-bottom: var(--dl-space-space-unit);
}
.contactus-navlink3 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .contactus-features {
    align-items: center;
  }
  .contactus-container01 {
    flex-direction: column;
  }
  .contactus-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .contactus-blog-post-card1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .contactus-blog-post-card2 {
    flex-direction: row;
    justify-content: space-between;
  }
  .contactus-blog-post-card3 {
    flex-direction: row;
    justify-content: space-between;
  }
  .contactus-blog-post-card4 {
    flex-direction: row;
    justify-content: space-between;
  }
  .contactus-blog-post-card5 {
    flex-direction: row;
    justify-content: space-between;
  }
  .contactus-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .contactus-container23 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .contactus-links {
    display: none;
  }
  .contactus-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .contactus-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contactus-text03 {
    text-align: center;
  }
  .contactus-container01 {
    flex-direction: column;
  }
  .contactus-icon10 {
    fill: var(--dl-color-scheme-green100);
  }
  .contactus-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contactus-blog-post-card {
    flex-direction: column;
  }
  .contactus-blog-post-card1 {
    flex-direction: column;
  }
  .contactus-blog-post-card2 {
    flex-direction: column;
  }
  .contactus-blog-post-card3 {
    flex-direction: column;
  }
  .contactus-icon12 {
    fill: var(--dl-color-scheme-green100);
  }
  .contactus-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contactus-blog-post-card4 {
    flex-direction: column;
  }
  .contactus-blog-post-card5 {
    flex-direction: column;
  }
  .contactus-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contactus-container23 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .contactus-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contactus-container02 {
    grid-template-columns: 1fr;
  }
  .contactus-text05 {
    font-style: normal;
    font-weight: 600;
  }
  .contactus-text07 {
    font-style: normal;
    font-weight: 600;
  }
  .contactus-text09 {
    font-style: normal;
    font-weight: 600;
  }
  .contactus-text11 {
    font-style: normal;
    font-weight: 600;
  }
  .contactus-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contactus-container06 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .contactus-container10 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .contactus-container13 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .contactus-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contactus-container18 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .contactus-container22 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .contactus-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .contactus-container23 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
