.hero-image-container {
  display: flex;
  position: relative;
}
.hero-image-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
@media(max-width: 991px) {
  .hero-image-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
