.questions1-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.questions1-text {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.questions1-text1 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .questions1-questions {
    width: 60%;
  }
}
@media(max-width: 767px) {
  .questions1-questions {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
