.question3-question {
  display: flex;
  position: relative;
}
.question3-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question3-text {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.question3-icon {
  width: 12px;
  height: 12px;
}
.question3-text1 {
  margin-top: 8px;
}
